.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.image-house {
  height: 100%;
}

.navbar {
  background-color: #c2f0f0;
  height: 10vh;
  position: fixed;
  width: 100%;
}

.wrapper-for-fixed {
  height: 10vh;
}

.img-single-beer {
  height: 40vh;
  margin-top: 10%;
}

.title-beer {
  font-size: 2em;
}

.tagline-beer {
  color: #949494;
  font-size: 1.5em;
}

.description {
  font-size: 2em;
  padding: 0 10%;
}

.list-item {
  display: flex;
  max-height: 25vh;
  border-bottom: 1px solid lightgray;
}
.list-item > * {
  width: 50%;
}
.list-item img {
  height: 95%;
}

.homepage img {
  width: 100vw;
}
